<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRM</title>
</head>
<body>
    <div class=".lead">
        <a href="/leads">Go back to leads</a>
        <hr />
        <h1>This is the details of {{ lead.first_name }}</h1>
        <p>This person's age: {{ lead.age }}</p>
        <p>The agent reponsible for this lead is: {{ lead.agent }}</p>
        <hr />
        <a href="/leads/{{ lead.pk }}/update">Update</a>
        <a href="/leads/{{ lead.pk }}/delete">Delete</a>
    </div>
</body>
</html>